@model Person
@{
    ViewData["Title"] = "Person Details";
}

<h1>Details</h1>

<dl>
    <dt>Name</dt>
    <dd>@Model.FullName</dd>
    <dt>City</dt>
    <dd>@Model.City</dd>
    <dt>Phone number</dt>
    <dd>@Model.PhoneNumber</dd>
</dl>

<a asp-action="Index">Go Back</a>
//Knappar för edit och delete
<div>@Html.ActionLink("Delete", "Delete", "Person", new {id = @Model.Id})</div>