@model Person

<div class="row font-weight-bold mt-3 d-flex-column align-items-lg-stretch">
    <div class="col-3">Name</div>
    <div class="col-3">City</div>
    <div class="col-3">PhoneNumber</div>
</div>


<div class="row">
    <div class="col-3">@Model.FullName</div>
    <div class="col-3">@Model.City</div>
    <div class="col-3">@Model.PhoneNumber</div>
    details och delete
    <div>@Html.ActionLink("Details", "Details", "Person", new {id = Model.Id})</div>
    <div>@Html.ActionLink("Delete", "Delete", "Person", new {id = Model.Id})</div>
</div>

